<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFZO0gir6pnoZdDHlWx4bR2i6WQQlmroM</string>
	<key>GCM_SENDER_ID</key>
	<string>451329125142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.duro.snapsave</string>
	<key>PROJECT_ID</key>
	<string>snapsave-f2c94</string>
	<key>STORAGE_BUCKET</key>
	<string>snapsave-f2c94.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451329125142:ios:2c99daf3c2001322547e37</string>
</dict>
</plist>